<div class="footer">
    <P>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="../images/5296499_fb_facebook_facebook logo_icon.png" alt="Facebook Logo" loading="lazy" width="30" height="30">
        </a>
    </P>
    <p>
        <a href="https://wa.me/2349069915069" target="_blank" rel="noopener noreferrer">
            <img src="../images/6929232_logo_whatsapp_icon.png" alt="WhatsApp Logo" loading="lazy" width="30" height="30">
        </a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/anselem-samuel-050b34302/" rel="noopener noreferrer">
            <img src="../images/5296501_linkedin_network_linkedin logo_icon.png" alt="LinkedIn Image" width="30" height="30">
        </a>
    </p>
</div>
<P>&copy;<span id="currentYear"></span> | All Rights Reserved Inc.</P>
