<div class="head">
    <div class="brand">
       <img src="../images/sunburst_logo.JPG" alt="Sunburst Logo" loading="lazy" width="100" height="70">
       <div class="head-text">
          <h1>Sunburst</h1>
          <span>Your Latest Hubspot</span>
       </div>
    </div>
    <button id="hamburger"></button>
</div>
<nav id="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../news.html">News</a></li>
            <li><a href="#">Exchange</a></li>
            <li><a href="../about-us.html">About Us</a></li>
        </ul>
</nav>